html,
body {
    background-image: url(../image/fond.png);
    background-size: contain;
    height: 1000px;
    width: 1000px;
    margin: auto;
    font-family: text;
    text-align: center;
}
#jeu{
    display: none;
}

#animation{
    margin: auto;
    text-align: center;
    padding: 10px;
}
#recep {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    border: solid;
    border-radius: 100%;
    border-width: 3px;
    border-color: grey;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

#trucAdverse {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    border: solid;
    border-radius: 100%;
    border-width: 3px;
    border-color: grey;
    background-size: contain;
    background-repeat: no-repeat;
}

#resultat, #record {
    color: yellow;
    margin: auto;
    text-align: center;
}

#deadPixel{
    display: block;
    width: 2px;
    height: 2px;
    float: left;
    border: solid;
    border-width: 0.5px;
    border-color: rgba(1, 25, 90, 1);
    background-color: blueviolet;
}
#regles{
    display: block;
    width: 1000px;
    height: 800px;
}

.lesPics {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
}

header {
    width: 250px;
    height: 60px;
    font-size: 30px;
    font-family: titre;
    text-align: center;
    color: yellow;
    border: solid;
    border-radius: 25px;
    border-color: dimgray;
    margin: auto;
    background-color: rgba(166, 166, 166, 0.4);
}
 .liste {
     margin-top: 25px;
     margin-bottom: 20px;
     display: inline-block;
     width: 130px;
     height: 35px;
     border-style: outset;
     text-align: center;
     border-color: dimgray;
     color: white;
     line-height: 35px;
     margin-right: auto;
     margin-left: auto;
     background-size: cover;
     background-color: rgba(166, 166, 166, 0.4);
     border-radius: 15px;
     box-shadow: 5px 5px 5px gray;

 }

 .liste:hover {
     border-style: inset;
     color: darkgoldenrod;
     box-shadow: 5px 5px 5px darkgray;
 }
 #menu {
     display: block;
     width: 800px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
 }
ul {
    padding-inline-start: 0px;
}

@font-face {
    font-family: 'titre';
    src: url(../font/font.ttf);
}
@font-face {
    font-family: 'text';
    src: url(../font/text.ttf);
}